@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Inter:wght@300;400;700;900&display=swap');

@theme {
  --color-bg-base: #0F1419;
  --color-bg-panel: #1A1F26;
  --color-text-main: #E0D8D0;
  --color-accent: #F27D26;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}
